*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}


.gift{            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width:100vw;
    height: 100vh;
    color: #fff;   
    background: url(./2.png);
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-position: center center;
    
    
}
.gift b{
    color: yellow;
    font-size: 20px;
}

.gift h1{ 
  padding-top: 45px;
  font-family: 'splash', cursive;
  font-size: 40px;
  text-shadow: red 2px 2px 2px;
  word-spacing: 20px ;
  color:yellow;
  letter-spacing: 4px;                                                                                                                   ;
}

.gift p{
  font-size: 16px;
  text-shadow: red 1px 1px 1px;
}
.address{
  display: flex;
  height: 250px;
  text-align: center;
  justify-content:space-around;
  align-items: center;
  width: 100vw;
  text-decoration: none;
  color:#fff;
  text-shadow: red 2px 2px 2px ;
  background: linear-gradient(
        45deg,
        rgba(236, 74, 29, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
}

.address img{
  width: 80px;
  height: 80px;
}

.address .rev{
  width: 130px;
  height: 130px;
  border-radius: 70px;
}

.address h2{
  font-size:18px;
}

.address a{
  text-decoration: none;
  color: #fff;
}

.Location-WriteUs{
  width: 100vw;
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  background: url(./churchbuilding.jpg);
    /* background-size: cover;  */
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-position: center center;
}
.map{
  margin-top: 15px;
  padding-left: 50px;
}

footer{
  display:flex;
  background-color: #454545;  
  width: 100vw;
  height: 10vh;
  color: white;
  justify-content: space-between;
  place-items: center;
  font-size:18px;  
}

.copyright{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-decoration: none;
}

.copyright a{
  display: inline-block;
  color: white;
  text-decoration: none;
  flex-direction: column;
}

.copyright a:hover{
  display: inline-block;
  color: orangered;
  text-decoration: none;
  flex-direction: column;
}

.tag{
 text-shadow:5px 5px 3px black;
 animation:bayo 2s ease 1s infinite;  
}

@keyframes bayo{

 0%{
    transform:rotateX(-45deg);
}
 50%{
    transform:rotateY(45deg);
}
}

